@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: v.$blanco;
    padding: 1rem;
    margin-bottom: 1rem;
    &.error{
        background-color:v.$rojo;
    }
    &.exito{
        background-color: v.$verde;
    }
}

table.propiedades{
    width: 100%;
    margin-top: 4rem;
    border-spacing: 0;
    thead{
        background-color: v.$verde;
        th{
            color: v.$blanco;
            padding: 2rem;
        }
    }
    .imagen-propiedad{
        width: 10rem;
    }

    tbody{
        td{
            text-align: center;
        }
    }
}

.img-small{
    width: 20rem;
}